.navbar .navbar-brand{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
}
.jumbotron{
    background-image: url("img/44.jpg");
    background-size: cover;
    padding-top: 6%;
    padding-bottom: 6%;
   
}
.btn {
    position: relative;
}

.btn-text {
    color: white;
    text-align: center;
    vertical-align: middle;
    position: relative;
    padding: 5px;
    transition: color 500ms ease-in;
}
.btn:hover .btn-text {
    color: black;
}

.btn-box {
    /* justify-content: space-between; */
    background-color: #f03939;
    transition: all 1s;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
}

.btn:hover .btn-box {
   /* align-items: center; */
    width: 50%;
    height: 3px;
    /* transform: translate3d(35px, 0, 0); */
    top: auto;
}