.navbar .navbar-brand{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
}
.jumbotron{
    background-image: url("img/44.jpg");
    background-size: cover;
    padding-top: 6%;
    padding-bottom: 6%;
   
}